:root {
  --accent-color: #2196f3;
  --header-logo: #000;
  --footer-logo: #fff;
  --title-color: #212121;
  --basic-color: #757575;
  --bg-color: #2f303a;
  --footer-ct: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-box {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo-style {
    color: var(--header-logo);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  }
 
  .logo-style:hover,
  .logo-style:focus{
      color: var(--accent-color);
      transition-property: color, background-color;
  }

.menu-list {
  display: flex;
  margin-left: 93px;
}

.menu-item:not(:first-child) {
  margin-left: 50px;
}

.menu-item {
  position: relative;
}

.menu-item:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  border-radius: 2px;
  height: 4px;
  top: 45px;
}

.menu-link {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus{
  color: var(--accent-color);
  outline: none;
  transition-property: color;
  }

.address {
  display: flex;
  margin-left: auto;
}

.address > .contakts {
  margin-left: 50px;
}

.header-svg {
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contakts:hover .header-svg {
    fill: var(--accent-color);
    cursor: pointer;
    transition-property: fill;
  }

.header-cont {
  color: var(--basic-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-cont{
    margin-left: auto;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-cont:hover,
  .header-cont:focus{
  color: var(--accent-color);
  outline: none;
  transition-property: color;
  }
.header-svg {
  fill: #757575;
}

.portfolio-btn {
  padding: 6px 24px;
  border: none;
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;

  border-radius: 4px;
  background-color: #f5f4fa;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #fff;
  background-color: var(--accent-color);
  transition-property: color, background-color;
}

/* проекти */

.header {
  border-bottom: 1px solid #ececec;
}

.section-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn > .p-item {
  margin-left: 8px;
}

.portfolio-title {
  margin-top: 20px;
  padding-left: 24px;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio-text {
  padding-left: 20px;
  color: var(--basic-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition-property: border, box-shadow;
}

.portfolio-list > .item {
  flex-basis: calc((100% - 60px) / 3);
  padding-bottom: 20px;
}

.portfolio-item {
  border: 1px solid #eee;
  background: #fff;
  transition-property: border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--accent-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
    transform: translateY(0);
}

.overlay-text {
    color: #fff;
    font-size: 18px;
    padding: 63px 24px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: var(--bg-color);
    padding: 60px 0;
  }
  
  

  .logo-footer {
    color: var(--footer-logo);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .logo-footer:hover,
  .logo-footer:focus {
  color: var(--accent-color);
  transition-property: color;
  }

  .footer-list {
    margin-top: 20px;
  }

  .footer-item {
    margin-bottom: 9px;
  }

  .footer-ct {
   color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-adress {
        color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.footer-ct:hover,
.footer-ct:focus,
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
  transition-property: color;
}

.footer-box {
  display: flex;
  gap: 95px;
}

.footer-sn {
  padding-top: 12px;
}

.footer-title {
  color: var(--footer-logo);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sn-item {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-sn-icon {
  fill: var(--footer-logo);
}

.footer-form {
  margin-left: auto;
  padding-top: 12px;
}

.footer-title {
  color: var(--footer-logo);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-label {
  display: flex;
  gap: 12px;
}

.footer-name {
  width: auto;
  width: 358px;
  height: 50px;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--footer-logo);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent-color);
  transition-property: border;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-btn {
  display: flex;
  align-items: center;
  color: var(--footer-logo);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  border: none;
  padding: 10px 28px;
  transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background: var(--footer-logo);
  color: var(--accent-color);
}

.footer-icon {
  fill: var(--footer-logo);
}

.sn-icon {
    width: 20px;
    height: 20px;
    color: var(--footer-logo);
  }


   .sn-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
  }

  .sn-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: backgroung-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .sn-item:hover,
  .sn-item:focus {
    background-color: var(--accent-color);
    outline: none;
    transition-property: backgroung-color;
    }

  .sn-item:hover
  .sn-icon {
    fill: var(--footer-logo);
  }

  .sn-link {
    width: 20px;
    height: 20px;
  }
