body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-family: 'STIX Two Text';
    font-style: normal;
}
.logo{
    color: #2196F3;
font-family: 'Raleway', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;

}

.menu{
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.hero{
    background: #2F303A;
}

.hero-title{
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.36; 
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
