@import "./base/vars";
@import "./base/reset";
@import "./base/fonts";
@import "./base/visually-hidden";
@import "./base/container";

@import "./utils/mixin";
@import "./utils/placeholder";

@import "./components/header";
@import "./sections/portfolio-sections/portfolio";
@import "./components/footer";

.header__item:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $accent-color;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    top: 45px;
    animation-name: header-after;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
  }
  
  @keyframes header-after {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  
  50% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  }