ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 786px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
}
.header__logo {
  color: #2196f3;
  font-size: 24px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    color: #2196f3;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
}
.header__style {
  color: #000;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__style:hover, .header__style:focus {
  color: #2196f3;
  transition-property: color, background-color;
}
.header__list {
  display: none;
  gap: 50px;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
  }
}
.header__item:not(:first-child) {
  margin-left: 50px;
}
.header__item {
  position: relative;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
  outline: none;
  transition-property: color;
}
.header__address {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__address {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__address {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    display: flex;
    margin-left: 50px;
  }
}
.header__svg {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contakts:hover .header__svg {
  fill: #2196f3;
  cursor: pointer;
  transition-property: fill;
}
.header__svg {
  fill: #757575;
}
.header__cont {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__cont {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: auto;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__cont:hover, .header__cont:focus {
  color: #2196f3;
  outline: none;
  transition-property: color;
}
.header__menu {
  border: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}
.portfolio__btn {
  padding: 6px 24px;
  border: none;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background-color: #f5f4fa;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: #fff;
  background-color: #2196f3;
  transition-property: color, background-color;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #fff;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio__list-btn {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .portfolio__list-btn {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list-btn {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
.portfolio__list-btn > .portfolio__btn-item {
  margin-left: 8px;
}
.portfolio__list {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    justify-content: start;
  }
}
.portfolio__list > .item {
  flex-basis: calc((100% - 60px) / 3);
  padding-bottom: 20px;
}
.portfolio__item {
  max-width: 450px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  background: #fff;
  transition-property: border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition-property: border, box-shadow;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__overlay-text {
  color: #fff;
  font-size: 18px;
  padding: 63px 24px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}
.portfolio__title {
  margin-top: 20px;
  padding-left: 24px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.portfolio__text {
  padding-left: 20px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer__logo {
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.78px;
}
.footer__style {
  color: #fff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__style:hover, .footer__style:focus {
  color: #2196f3;
  transition-property: color;
}
.footer__list {
  margin-top: 20px;
}
.footer__item {
  margin-bottom: 9px;
}
.footer__ct {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0.42px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__ct:hover, .footer__ct:focus, .footer__adress:hover, .footer__adress:focus {
  color: #2196f3;
  transition-property: color;
}
.footer__box {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 95px;
}
.footer__sn {
  padding-top: 12px;
}
.footer__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__sn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
}
.footer__double-item {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__double-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__double-item:hover {
  background-color: #2196f3;
  transition-property: background-color;
}
.footer__double-item:focus {
  background-color: #2196f3;
  outline: none;
  transition-property: background-color;
}
.footer__sn-link {
  width: 20px;
  height: 20px;
}
.footer__sn-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer__form {
  margin-left: auto;
  padding-top: 12px;
}
.footer__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__label {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 12px;
}
.footer__name {
  width: auto;
  width: 358px;
  height: 50px;
}
.footer__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input:hover, .footer__input:focus {
  border: 1px solid #2196f3;
  transition-property: border;
}
.footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.footer__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  border: none;
  padding: 10px 28px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus {
  background: #fff;
  color: #2196f3;
}
.footer__icon {
  fill: #fff;
}

.backdrops {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.27, 0.87, 0.51, 0.9);
}

.is-hidden {
  display: none;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .menu {
  transform: translate(0);
}

.menu {
  background-color: #fff;
  width: 480px;
  height: 768px;
  position: relative;
}
.menu__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.menu__link:hover {
  color: #2196f3;
}
.menu__sections {
  padding-top: 48px;
  padding-left: 40px;
  margin-bottom: 302px;
}
.menu__phone {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.menu__phone:hover {
  color: #2196f3;
}
.menu__mail {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.menu__mail:hover {
  color: #2196f3;
}
.menu__items {
  margin-bottom: 32px;
}
.menu__items:last-child {
  margin-bottom: 0;
}
.menu__contact {
  padding-left: 40px;
  padding-bottom: 64px;
}
.menu__networks {
  padding-left: 40px;
}
.menu__network {
  display: flex;
}
.menu__networks-item {
  margin-right: 20px;
}
.menu__networks-link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}

.header__item:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #2196f3;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  top: 45px;
  animation-name: header-after;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes header-after {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}/*# sourceMappingURL=portfolio.css.map */