.header {
  padding-top: 16px;
  padding-bottom: 16px;

    @media screen and (min-width: 786px) {
      padding-top: 26px;
    padding-bottom: 26px;
    }
    
    @media screen and (min-width: 1200px) {
      padding-top: 24px;
    padding-bottom: 25px;
    }

    &__box{
      @include flex($justify: start);
      font-family: "Roboto", sans-serif;
      justify-content: space-between;
    }

    &__logo {
    @include text($color: $accent-color, $size: 24px, $weight: 700);
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.72px;

    @media screen and (min-width:1200px) {
      @include text($color: $accent-color, $size: 26px, $weight: 700);
      letter-spacing: 0.78px;
    }
    }

  &__style {
      color: $header-logo;
      transition-property: color, background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
      &:hover,
  &:focus{
      color: $accent-color;
      transition-property: color, background-color;
  }
    }

  
  &__list{
    display: none;
    @media screen and (min-width: 768px) {
      @include flex($justify: start, $align: start);
    }
    
    } 

    &__item:not(:first-child){
      margin-left: 50px;
    }

    &__item {
      position: relative;
    }


    &__link {
      @include text($color: $title-color, $size: 14px, $weight: 500);
      letter-spacing: 0.28px;
      transition-property: color, background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus{
  color: $accent-color;
  outline: none;
  transition-property: color;
  }
    }
  

  &__address{
      display: none;


    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      @include flex($justify: start, $align: start);
      display: flex;
      margin-left: 50px;
      
    }

  }

    &__svg {
      margin-right: 10px;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      .header__contakts:hover & {
        fill: $accent-color;
        cursor: pointer;
        transition-property: fill;
      }

      & {
        fill: $basic-color;
      }
    }

    

    &__cont {
      @include text($color: $basic-color, $size: 14px, $weight: 500);
      letter-spacing: 0.28px;

      &:nth-child(1) {
        margin-right: 30px;

      
      }

      &{
        @include flex($justify: start);
        margin-left: auto;
        display: flex;
        align-items: center;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
  color: $accent-color;
  outline: none;
  transition-property: color;
  }
      }
    }

    &__menu {
      border: none;
      background: $footer-logo;
      @media screen and (min-width: 768px) {
          display: none;
      }
  }

  &__svg-menu {
    background-color: $footer-logo;
    }
}
