.header{
    padding-top: 24px;
    padding-bottom: 25px;

    &__box{
      @include flex($justify: start);
      font-family: "Roboto", sans-serif;
    }

    &__logo {
    @include text($color: $accent-color, $size: 26px, $weight: 700);
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.78px;
    }

  &__style {
      color: $header-logo;
      transition-property: color, background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
      &:hover,
  &:focus{
      color: $accent-color;
      transition-property: color, background-color;
  }
    }

  
  &__list{
    @include flex($justify: start, $align: start);
    margin-left: 93px;
    } 

    &__item:not(:first-child){
      margin-left: 50px;
    }

    &__item {
      position: relative;
    }


    &__link {
      @include text($color: $title-color, $size: 14px, $weight: 500);
      letter-spacing: 0.28px;
      transition-property: color, background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus{
  color: $accent-color;
  outline: none;
  transition-property: color;
  }
    }
  

  &__address{
    @include flex($justify: start, $align: start);
    margin-left: auto;
    
    & > .header__contakts {
      margin-left: 50px;
  }
    }


    &__svg {
      margin-right: 10px;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      .header__contakts:hover & {
        fill: $accent-color;
        cursor: pointer;
        transition-property: fill;
      }

      & {
        fill: $basic-color;
      }
    }

    &__cont {
      @include text($color: $basic-color, $size: 14px, $weight: 500);
      letter-spacing: 0.28px;

      &{
        @include flex($justify: start);
        margin-left: auto;
        display: flex;
        align-items: center;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
  color: $accent-color;
  outline: none;
  transition-property: color;
  }
      }
    }
  }
  



  

  
  
  

  
  
  