.header{
    padding-top: 24px;
    padding-bottom: 25px;

    &__box{
      display: flex;
      align-items: center;
      font-family: "Roboto", sans-serif;
    }

    &__logo {
    color: $accent-color;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

   
  }

  &__style {
      color: $header-logo;
      transition-property: color, background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
      &:hover,
  &:focus{
      color: $accent-color;
      transition-property: color, background-color;
  }
    }

  
  &__list{
    display: flex;
    margin-left: 93px;
    } 

    &__item:not(:first-child){
      margin-left: 50px;
    }

    &__item {
      position: relative;
    }

    &__item:nth-child(1)::after {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--accent-color);
      width: 100%;
      border-radius: 2px;
      height: 4px;
      top: 45px;
      animation-name: header-after;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      
    }
    
    @keyframes header-after {
    0% {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
    
    50% {
      transform: scale3d(0, 0, 0);
      opacity: 0;
    }
    
    100% {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
    }

    &__link {
      color: $title-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transition-property: color, background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus{
  color: $accent-color;
  outline: none;
  transition-property: color;
  }
    }
  

  &__address{
    display: flex;
    margin-left: auto;
    
    & > .header__contakts {
      margin-left: 50px;
  }
    }


    &__svg {
      margin-right: 10px;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      .header__contakts:hover & {
        fill: $accent-color;
        cursor: pointer;
        transition-property: fill;
      }

      & {
        fill: #757575;
      }
    }

    &__cont {
      color: $basic-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;

      &{
        margin-left: auto;
        display: flex;
        align-items: center;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
  color: $accent-color;
  outline: none;
  transition-property: color;
  }
      }
    }
  }
  



  

  
  
  

  
  
  