@mixin flex($justify: center, $align: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: wrap;
}

@mixin text($color: $title-color, $size: 14px, $weight: 400) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}