%button-style {
    color: $footer-logo;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    cursor: pointer;
    border-radius: 4px;
    background: $accent-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  border: none;

  &:hover,
&:focus{
    color: $accent-color;
    background-color: $footer-logo;
    transition-property: color, background-color;
}
}
